
#clk {
    color:black;
   
    font-size: 100px;
    width: 500px;
    margin: 100px 0px 0px 500px;
    text-align: center;
}
#date {
    color:purple;
  
    font-size: 20px;
    width: 500px;
    margin: 1px 0px 0px 500px;
    text-align: center;
}
body{
    background-color:lightblue;
}